.contact-page {
  /* background: url('../images/howls-contact.jpg') center center/cover no-repeat; */
  padding-bottom: 25px;
}

.form-heading {
  text-align: center;
  padding: 2%;
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(24, 24, 24, 24); */
}

.form {
  background-color: white;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(24, 24, 24, 24);
  transition: 0.3s;
  padding: 5%;
}

.text-area {
  height: 152px;
}

.contact-btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid var(--primary);
}

.contact-btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.msg-temp {
  background-color: aqua;
}

.input-temp {
  background-color: aquamarine;
}
